.project-display{
    width: 80%;
    height: 60%;
    border-radius: 20px;
    position: absolute;
    box-shadow: 5px 7px 5px rgb(19, 18, 18);
}
.project-title{
    position: absolute;
    bottom: 0;
    left: 2%;
    z-index: 1;
}
.description-container{
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: none;
    border-radius: inherit;
}
.project-description{
    width: 80%;
    line-height: 1.6;
    font-size: large;
    font-weight: 900;
}
img{

    border-radius: inherit;
    filter: drop-shadow(2px 2px 5px rebeccapurple) invert(15%);
}
ul{
    font-size: medium;
    font-weight: 600;
    line-height: 2.6;
}
li{
    list-style-type: none;
}
.underline{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rebeccapurple;
    text-decoration-thickness: 2px;
}
li:hover{
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    .project-display{
        top: 300px;
        width: 90%;
        height: 250px;
    }
    .project-title{
        font-size: medium;
    }
    .project-description{
        top: 100px;
        font-size: small;
    }
}
@media screen and (max-width:1000px) and (min-width: 500px){
    .project-display{
        top: 300px;
        width: 70%;
        height: 300px;
    }
    .project-title{
        font-size: large;
    }
    .project-description{
        top: 100px;
        font-size: medium;
    }
}