.skills-ul{
    display: grid;
    grid-template-columns: 50% 50%;
}

.skills-heading{
    text-align: center;
}

.skills-left{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.skills-left>*{
    flex: 1 1 47.5%;
}
.skills-left>*:nth-child(3){
    margin: 8%;

}
.circular-bar{
    width: fit-content;
    position: relative;
}
.line-bar{
    width: 50%;
    text-align: center;
}

.caption{
    position:absolute;
    top: 40%;
    left: 35%;
}

.circularpro{
    animation: circular-rotate 1s linear;
}
  
  @keyframes circular-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

.linearpro{
    animation: run 1.5s linear;
    box-shadow: 5px 5px 6px black;

}
@keyframes run {
    from{
        width: 0%;
    }
    to {
        width: 100%;
    }
}
@media screen and (max-width:1000px) {
    .skills-left{
        top: 300px;
        width: 100%;
    }
    .circular-bar{
        margin-top: 6%;
        text-align: center;
    }
    .caption{
        left: 50%;
    }
    .line-bar{
        display: none;
    }
}
@media screen and (max-width:1000px) and (min-width: 500px){
    .skills-left{
        top: 300px;
        width: 100%;
    }
    .line-bar{
        display: block;
    }
}