

.intro {
    box-sizing: border-box;
    padding: 0% 2% 0 10%;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);

}

.welcome-heading{
    width: 100%;
    font-size:6em;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.line{
    width: 97%;
    padding-left: 1%;
    
    box-sizing: border-box;
    background: linear-gradient(rgb(120,62,169),rgb(169,121,84));
    border-radius: 5px;
    animation: bg-color 10s ease-in 10s infinite;
}
.intro-des{
    height: 100%;
    width: 100%;
    padding-left: 5.8%;
    box-sizing: border-box;
    background-color: #1d1d20;
    line-height: 1.6;
    font-size: medium;
}
@media screen and (max-width: 480px){
    .intro{
        padding-left: 3%;
        height: 10%;
        top: 25%;

    }
    .home>*{
        width: 100%;
    }
    .welcome-heading{
        font-size:3.5em;
        padding-bottom: 20px;
        padding-left: 15px;
        font-weight: 100;
    }
    .intro-des{
        font-size: 0.9em;
        height: 100%;
    }
}
@media screen and (max-width: 900px) and (min-width: 500px){
    .intro{
        padding-left: 8%;
        height: 10%;
        top: 20%;

    }
}
